body{
    display: flex;
      background-color: rgb(238, 238, 238);

      font-family: Helvetica, sans-serif;
}
footer{
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    padding: 20px;
}
header{
    border-bottom: 2px solid black;
    width: 100%;

    
}
.conteiner{
    border: 2px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
